@import "./_variables";

.buttons {
    border: none;
	border-radius: 15px;
	&_promo {
		background: $mainColor;
		box-shadow: 0px 15px 30px rgba(25, 218, 140, 0.25);
		font-family: $commonFont;
		font-weight: 700;
		font-size: 20px;
		letter-spacing: 0.04em;
		color: #ffffff;
	}
}
