.plan {
    position: relative;
    margin-top: 63px;
    padding-top: 42px;
	height: 907px;
	background: url("../../assets/img/plan-bg.png") center no-repeat;
    overflow: hidden;
    &__title{
        text-align: center;
    }
}


