@import "../../sass/variables";

.plan-animate-wrap {
	// position: relative;
	padding-top: 126px;
	padding-left: 93px;
	svg {
		display: block;
		margin: 0 auto;
	}
}
.plan-text {
	position: absolute;
	font-family: $commonFont;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.04em;
	color: $accentFontColor;
	width: 268px;
	top: 600px;
	left: 1310px;
	&__link {
		text-underline-offset: 1px;
		color: $mainColor;
	}
	&_0 {
		width: 200px;
		top: 171px;
		left: 396px;
	}
	&_1 {
		width: 200px;
		top: 375px;
		left: 863px;
	}
	&_2 {
		width: 275px;
		top: 591px;
		left: 1342px;
	}
}
.plan-plane-path {
	fill: $mainAccentColor;
}
.plan__plane {
	left: 0;
	top: 58px;
	position: absolute;
	offset-path: path(
		"M1 0.5C68.6 10.9 117.5 29.1667 133.5 37L285 115L363 154L451.5 188L598 254L710.5 318.5L856.5 403.5L1008 470L1146.5 528.5L1266.5 560L1419 596.5H1523L1643.5 579.5L1736 537.5L1810 492L1884 436L1988 335.5"
	);
	visibility: hidden;
}
.plan-circle {
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 60%;
	background-color: $mainAccentColor;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: $commonFont;
	font-weight: 700;
	font-size: 40px;
	color: #ffffff;
	&_0 {
		top: 172px;
		left: 279px;
	}
	&_1 {
		top: 375px;
		left: 743px;
	}
	&_2 {
		top: 592px;
		left: 1224px;
	}
}
