@import "../../sass/variables";

.promo {
	&__subtitle {
		margin-top: 250px;
		font-family: $commonFont;
		font-size: 15px;
		text-transform: uppercase;
		color: #9fa0a7;
	}
	&__title {
		font-family: $headersFont;
		font-weight: 700;
		font-size: 55px;
		color: $mainFontColor;
		max-width: 653px;
		line-height: 4.2rem;
	}
	&__descr {
        max-width: 570px;
		margin-top: 40px;
		font-family: $commonFont;
		font-size: 18px;
		color: $accentFontColor;
	}
}
