@import "../../sass/variables";

.logo {
	cursor: pointer;
    padding-top: 30px;
	display: flex;
	gap: 5px;
	align-items: flex-end;


	&__text {
		line-height: 35px;
		font-family: $commonFont;
		font-weight: 500;
		font-size: 34px;
		color: $mainFontColor;
	}
	span {
		font-family: $commonFont;
		font-weight: 400;
		font-size: 34px;
		color: $mainAccentColor;
	}
}
