@import "../../sass/variables";

.plan-circle {
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 60%;
	background-color: $mainAccentColor;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: $commonFont;
	font-weight: 700;
	font-size: 40px;
	color: #ffffff;
	&_0 {
		top: 176px;
		left: 288px;
	}
	&_1 {
		top: 379px;
		left: 756px;
	}
	&_2 {
		top: 593px;
		left: 1235px;
	}
}
