@keyframes paints {
	0% {
		transform: rotate(0);
	}
	45% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes ball {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, 34px);
	}
}

@keyframes cross {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	50% {
		opacity: 0;
		transform: scale(0);
	}
	75% {
		opacity: 1;
		transform: scale(0.5);
	}
	100% {
		transform: scale(0.8);
		opacity: 0;
	}
}

@keyframes divide {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

@keyframes dark-planet {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(-45deg);
	}
}

@keyframes atom {
	0% {
		transform: scale(0) rotate(0);
	}
	100% {
		transform: scale(1) rotate(45deg);
	}
}

@keyframes big-planet {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-50px, 20px);
	}
}

@keyframes strip-planet {
	0% {
		transform: translate(0, 0);
	}
	11% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(30px, 0);
	}
}

@keyframes plane {
	0% {
		transform: scale(0.5) rotate(45deg);
	}
	100% {
		transform: scale(1) rotate(0);
	}
}

@keyframes alarm {
	0% {
		transform: scale(0.7) rotate(0deg);
	}
	50% {
		transform: scale(1) rotate(-180deg);
	}
	100% {
		transform: scale(0.7) rotate(-360deg);
	}
}

@keyframes rocket {
	0% {
		transform: translate(0, 70px);
	}
	67% {
		transform: translateX(0);
	}
	100% {
		transform: translate(0, 70px);
	}
}

@keyframes lamp {
	0% {
		transform: rotate(0);
	}
	12% {
		transform: rotate(0);
	}
	39% {
		transform: rotate(-40deg);
	}
	44% {
		transform: rotate(-40deg);
	}
	73% {
		transform: rotate(0);
	}
	78% {
		transform: rotate(0);
	}
	96% {
		transform: rotate(25deg);
	}
	100% {
		transform: rotate(25deg);
	}
}

@keyframes elephant {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translate(10px, 0) rotate(30deg);
	}
}