@import "../../sass/variables";

span.under-line {
	font-family: inherit;
	position: relative;
	overflow: hidden;
	display: inline-flex;
	padding-bottom: 4px;
	svg {
		position: absolute;
		left: 0;
		bottom: -1px;
		height: auto;
        fill: $mainAccentColor;
	}
}
