@import "../../sass/variables";
.register {
	position: relative;
	overflow: hidden;
	margin-top: 50px;
	padding-bottom: 40px;
	//@at-root
	margin-bottom: 300px;
	&__wrap {
		display: grid;
		grid-template-columns: 490px 660px;
		gap: 223px;
	}
}

